<link rel="stylesheet" href="register.css" />
<div class="container">
  <div class="button-group">
    <button id="gymAccountButton">Gym Account</button>
    <button id="userAccountButton">User Account</button>
  </div>
  <form action="/register" method="POST">
    <div class="form-group">
      <label for="exampleInputPassword1">Name</label>
      <input name="name" type="name" class="form-control" id="exampleInputPassword1" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small class="small">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group gym-info" style="display: none;">
      <label for="exampleInputPassword1">Gym Information</label>
      <input name="gymName" type="text" class="form-control" id="exampleInputPassword1" placeholder="Gym Name">
    </div>
    <div class="form-group gym-address" style="display: none;">
      <label for="exampleInputPassword1">Address</label>
      <input name="address" type="text" class="form-control" id="gymAddressInput" placeholder="Address">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Register</button>
  </form>
</div>

<script src="register.js"></script>
