<link rel="stylesheet" href="register.css" />
<div class="container">
  <div class="button-group">
    <button id="userAccountButton">User Account</button>
    <button id="gymAccountButton">Gym Account</button>
  </div>
  <form id="userAccount" action="/register" method="POST" style="display: none;">
    <div class="form-group">
      <label for="exampleInputPassword1">Name</label>
      <input name="name" type="name" class="form-control" id="exampleInputPassword1" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small class="small">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Register</button>
  </form>
  <form id="gymAccount" action="/register" method="POST" style="display: none;">
    <div class="form-group">
      <label for="exampleInputPassword1">Name</label>
      <input name="name" type="name" class="form-control" id="exampleInputPassword1" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small class="small">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary btn-block" name="gymAccount" value="true">Register</button>
  </form>
</div>
<script>
  const gymAccountButton = document.getElementById('gymAccountButton');
const userAccountButton = document.getElementById('userAccountButton');
const userAccountForm = document.getElementById('userAccount');
const gymAccountForm = document.getElementById('gymAccount');


gymAccountButton.addEventListener('click', () => {
  gymAccountButton.classList.add('active');
  userAccountButton.classList.remove('active');
  gymAccountForm.style.display = "block"
  userAccountForm.style.display = "none"
});

userAccountButton.addEventListener('click', () => {
  userAccountButton.classList.add('active');
  gymAccountButton.classList.remove('active');
  userAccountForm.style.display = "block"
  gymAccountForm.style.display = "none"
});

</script>
  