<head>
    <title>Calendar View</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="/calendar.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="flex">
        <div class="wrapper">
            <header>
                <p class="current-date">May 2023</p>
                <a class="btn btn-secondary btn-lg" id="table" href="/progress">Table View</a>
                <div class="icon">
                    <span id="prev" class="material-symbols-rounded">chevron_left</span>
                    <span id="next" class="material-symbols-rounded">chevron_right</span>
                </div>
            </header>
            <div class="calendar">
                <ul class="week">
                    <li>Su</li>
                    <li>Mo</li>
                    <li>Tu</li>
                    <li>We</li>
                    <li>Th</li>
                    <li>Fr</li>
                    <li>Sa</li>
                </ul>
                <ul class="days">
                </ul>
            </div>
        </div>
        <div id="progress-report-details">
        </div>
    </div>
    <script>
        const currentDate = document.querySelector(".current-date"),
            days = document.querySelector(".days"),
            dateList = document.querySelectorAll(".days li"),
            next = document.querySelectorAll(".icon span");
        // tracks current date, year and month
        let date = new Date(),
            currentYear = date.getFullYear(),
            currentMonth = date.getMonth();

        const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
            "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"];

        // formats an id for the date of the current list item
        // converts month and day into numbers
        const createDateID = (date) => {
            const year = date.getFullYear();
            const month = String(date.getMonth() + 1).padStart(2, '0');
            const day = String(date.getDate()).padStart(2, '0');
            // example if day is may 3rd, returns "2023-05-03"
            return `${year}-${month}-${day}`
        };

        const handleDateClick = (element) => {
            const dateID = element.id;
            const progressReports = JSON.parse('<%- JSON.stringify(progressReports) %>');
            const matchingProgress = progressReports.filter((report) => report.date === dateID);

            if (matchingProgress.length > 0) {
                const details = document.getElementById("progress-report-details");
                let html = '';

                matchingProgress.forEach((progressReport) => {
                    html += `
                    <p>${progressReport.date}</p>
                    <p>${progressReport.type}</p>
                    <p>${progressReport.details}</p>
                    <hr>`;
                });

                details.innerHTML = html;
            } else {
                details = document.getElementById("progress-report-details");
                details.innerHTML = '';
            }
        };
        const createCalendar = () => {
            // gets first day of month
            let firstDayofMonth = new Date(currentYear, currentMonth, 1).getDay(),
                // gets last day of month
                lastDateofMonth = new Date(currentYear, currentMonth + 1, 0).getDate(),
                // gets days from last month
                lastDateofLastMonth = new Date(currentYear, currentMonth, 0).getDate(),
                lastDaysofMonth = new Date(currentYear, currentMonth, lastDateofMonth).getDay();
            let liTag = "";

            // loop for going through days from last month giving them an inactive class
            for (let i = firstDayofMonth; i > 0; i--) {
                // pass the current date into createDateID to make id 
                const date = new Date(currentYear, currentMonth - 1, lastDateofLastMonth - i + 1);
                const dateID = createDateID(date);
                liTag += `<li id="${dateID}" onclick="handleDateClick(this)" class="inactive">${lastDateofLastMonth - i + 1}</li>`
            }

            // for loop to make list element for each date
            for (let i = 1; i <= lastDateofMonth; i++) {
                // pass the current date into createDateID to make id 
                const date = new Date(currentYear, currentMonth, i);
                const dateID = createDateID(date);
                liTag += `<li id="${dateID}" onclick="handleDateClick(this)">${i}</li>`;
            }

            for (let i = lastDaysofMonth; i < 6; i++) {
                const date = new Date(currentYear, currentMonth + 1, i - lastDaysofMonth + 1);
                const dateID = createDateID(date);
                liTag += `<li id="${dateID}" onclick="handleDateClick(this)" class="inactive">${i - lastDaysofMonth + 1}</li>`
            }
            currentDate.innerText = `${months[currentMonth]} ${currentYear}`;
            days.innerHTML = liTag
        }

        createCalendar();

        // adds event listener to icons
        next.forEach(icon => {
            icon.addEventListener("click", () => {
                currentMonth = icon.id === "prev" ? currentMonth - 1 : currentMonth + 1;

                // if the index is lower then 0 (january) or higher than 11(december) change the year
                if (currentMonth < 0 || currentMonth > 11) {
                    date = new Date(currentYear, currentMonth);
                    currentYear = date.getFullYear();
                    currentMonth = date.getMonth();
                } else {
                    date = new Date();
                }

                createCalendar();
            })
        })
    </script>
</body>