<link rel="stylesheet" href="homepage.css">
<nav>
    <h1>Welcome to Gymconnects!</h1>
    <input type="text" placeholder="Search..">
</nav>

<section>
    <button type="button" class="btn btn-outline-secondary"><article>
        <h2>Workout of the Day</h2>
    </article></button>

    <button type="button" class="btn btn-outline-secondary"><article>
        <h2>Select Workout</h2>
    </article></button>

    <button type="button" class="btn btn-outline-secondary"><article>
        <h2>My Progress</h2>
    </article></button>
</section>
