<link rel="stylesheet" href="homepage.css" />
<header class="text-center">
  <h1 class="display-1">Welcome to GymConnects!</h1>
</header>

<section>
  <div class="card border-dark mb-31" style="width: 18rem;">
    <div class="card-header"><b>Workout of the Day</b></div>
    <div class="card-body text-dark">
      <p class="card-text">Click the button below to follow our workout of the day.</p>
      <a href="/workout" class="btn btn-outline-secondary btn-lg">Lets go!</a>
    </div>
  </div>

  <div class="card border-dark mb-32" style="width: 18rem;">
    <div class="card-header"><b>Select Workout</b></div>
    <div class="card-body text-dark">
      <p class="card-text">Beginner, Intermediate, and Advanced workouts.</p>
      <a href="/selectworkout" class="btn btn-outline-secondary btn-lg">Select Now</a>
    </div>
  </div>

  <div class="card border-dark mb-33" style="width: 18rem;">
    <div class="card-header"><b>Progress</b></div>
    <div class="card-body text-dark">
      <p class="card-text">Track, update, and check your progress.</p>
      <a href="/progress" class="btn btn-outline-secondary btn-lg">Check Now</a>
    </div>
  </div>
</section>
