<link rel="stylesheet" href="homepage.css">
<nav>
    <h1>Welcome to Gymconnects!</h1>
    <input type="text" placeholder="Search..">
</nav>

<section>
    <article>
        <h2>Workout of the Day</h2>
    </article>

    <article>
        <h2>Select Workout</h2>
    </article>

    <article>
        <h2>My Progress</h2>
    </article>
</section>
