<link rel="stylesheet" href="homepage.css" />
<header class="text-center">
  <h1>Welcome to GymConnects!</h1>
</header>

<section>
  <a class="btn btn-outline-secondary btn-lg" href="/workout"
    >Workout of the Day</a
  >
  <a class="btn btn-outline-secondary btn-lg" href="/selectworkout"
    >Select Workout</a
  >
  <a class="btn btn-outline-secondary btn-lg" href="/progress">My Progress</a>
</section>
