<link rel="stylesheet" href="homepage.css">
<nav>
    <h1>Welcome to Gymconnects!</h1>
    <input type="text" placeholder="Search..">
</nav>

<section>
    <a type="button" class="btn btn-outline-secondary">Workout of the Day</a>
    <a type="button" class="btn btn-outline-secondary">Select Workout</a>
    <a type="button" class="btn btn-outline-secondary">My Progress</a>
</section>
