<head>
  <title>Progress Page</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="progress.css" rel="stylesheet" type="text/css">
</head>

<body>
  <main>
    <header>
      <h1>Check Progress</h1>
      <div class="container">
        <a class="btn btn-light btn-lg" id="space">Filter Date</a>
        <a class="btn btn-light btn-lg" id="space">Filter Type</a>
        <a class="btn btn-light btn-lg" id="space" href="/calendar">Calendar View</a>
        <label id="space">
          <input type="checkbox" name="days"> Last 30 Days
        </label>
        <input type="text" name="search" id="space" class="search" placeholder="Search session details">
      </div>
    </header>
    <div id="space">

    </div>
    <table>
      <tr>
        <th>Date</th>
        <th>Type</th>
        <th class="session-details">Session Details</th>
      </tr>
      <tr>
        <td>2023-05-02</td>
        <td>Cardio</td>
        <td>1 hour</td>
      </tr>
      <tr>
        <td>2023-04-28</td>
        <td>Lower Push</td>
        <td>10 reps</td>
      </tr>
      <tr>
        <td>2022-06-07</td>
        <td>Upper Push</td>
        <td>12 reps</td>
      </tr>
      <tr>
        <td>2024-11-28</td>
        <td>Upper pull</td>
        <td>20 reps</td>
      </tr>
  </main>
</body>