<!DOCTYPE html>
<html>
<head>
  <title>Progress Page</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="/progress.css" rel="stylesheet" type="text/css">
</head>
<body>
  <main>
    <h1>Check Progress</h1>
    <div class="container">
      <div class="column">Date</div>
      <div class="column">Type</div>
      <div class="column">Reps</div>
      <div class="column">Notes</div>
    </div>
  </main>
</body>
</html>