<head>
  <title>Progress Page</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="progress.css" rel="stylesheet" type="text/css">
</head>
<body>
  <main>
    <header>
      <h2>Check Progress</h2>
    </header>
    <table>
      <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Session Details</th>
      </tr>
      <tr>
        <td>2023-05-02</td>
        <td>Cardio</td>
        <td>1 hour</td>
      </tr>
      <tr>
        <td>2023-04-28</td>
        <td>Lower Push</td>
        <td>10</td>
      </tr>
      <tr>
        <td>2022-06-07</td>
        <td>Upper Push</td>
        <td>12</td>
      </tr>
      <tr>
        <td>2024-11-28</td>
        <td>Upper Push</td>
        <td>20</td>
      </tr>
  </main>
</body>

