<h1>Workout of The Day</h1>
<link rel="stylesheet" href="/workout.css">
<section>
    <p>Exercise #1</p>
    <p>Exercise #2</p>
    <p>Exercise #3</p>
    <p>Exercise #4</p>
    <p>Exercise #5</p>
</section>

<h1>Select Workout</h1>
<h2>Workouts</h2>
<aside>
    <h3>Upper push</h3>
    <h3>Upper pull</h3>
    <h3>Lower push</h3>
    <h3>Lower pull</h3>
    <h3>Cardio #1</h3>
    <h3>Cardio #1</h3>
</aside>