<h1>Workout of the day</h1>
<link rel="stylesheet" href="/workout.css">
<section>
    <p>Exercise #1</p>
    <p>Exercise #2</p>
    <p>Exercise #3</p>
    <p>Exercise #4</p>
    <p>Exercise #5</p>
</section>

<h1>Select workout</h1>
<h2>Workouts</h2>
<aside>
    <p>Upper push</p>
    <p>Upper push</p>
    <p>Upper push</p>
    <p>Upper push</p>
    <p>Upper push</p>
    <p>Upper push</p>
</aside>