<link rel="stylesheet" href="/workout.css">
<h1>Workout of The Day</h1>
<section>
    <a type="button" class="btn btn-secondary" id="Workout">Exercise #1</a>
    <a type="button" class="btn btn-secondary" id="workout">Exercise #2</a>
    <a type="button" class="btn btn-secondary" id="Workout">Exercise #3</a>
    <a type="button" class="btn btn-secondary" id="Workout">Exercise #4</a>
    <a type="button" class="btn btn-secondary" id="Workout">Exercise #5</a>
</section>