/* Import Google font - Poppins */
@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: beige;
}

.flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.wrapper {
    width: 450px;
    background: #d3d3d3;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 50px
}

.wrapper header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}

header .current-date {
    font-size: 1.45rem;
    font-weight: 500;
}

header .icon span {
    height: 38px;
    width: 38px;
    color: gray;
    font-size: 1.9rem;
    margin: 0 1px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}

header .icon span:hover {
    background-color: #CCCCCC;
}

header .icon span:last-child {
    margin-right: 10px;
}

.calendar {
    padding: 20px;
}

.calendar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}

.calendar .days li {
    z-index: 1;
    cursor: pointer;
    margin-top: 30px;
}

.calendar .weeks li {
    font-weight: 500;
}

.calendar ul li {
    position: relative;
    width: calc(100% / 7)
}

.days li.inactive {
    color: #8a8a8a;
}

.calendar .days li::before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.days li:hover::before {
    background-color: #CCCCCC;
}

.table {
    background-color: #CCCCCC;
}

#progress-report-details {
    margin-left: 50px;
    padding: 20px 20px 0px 20px;
    font-size: 25px;
}

.progress-background {
    background-color: lightgray;
}