/*------------------nav-------------------*/
nav{
    display: flex;
    justify-content: center;
    background-color: beige;
}

h1{
    color: brown;
    margin-right: 15px;
}

input{
    margin-left: 15px;
    width: 400px;
}

/*------------------body-------------------*/
body{
    height: 96vh;
    display: grid;
    grid-template-rows: 50px repeat(2, 0.5fr);
}

/*------------------article-------------------*/

button{
    width: 200px;
    height: 200px;
}

/*------------------section-------------------*/
section{
    display: flex;
    justify-content: space-around;
    align-self: center;
}

/*------------------footer-------------------*/