/*------------------nav-------------------*/
header{
    background-image: url("images/gym.png");
}

h1{
    color: white;
    margin-top: 120px;
}

input{
    margin-left: 15px;
    width: 400px;
}

/*------------------body-------------------*/
body{
    height: 96vh;
    display: grid;
    grid-template-rows: 50px repeat(2, 0.5fr);
}


/*------------------article-------------------*/

button{
    width: 200px;
    height: 200px;
}

/*------------------section-------------------*/
section{
    display: flex;
    justify-content: space-around;
    align-self: center;
}

/*------------------footer-------------------*/