body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--clr-biege);
}

h2 {
    color: var(--clr-brown);
}

:root {
    --clr-biege: beige;
    --clr-gray: #2C3E50;
    --clr-brown: brown; 

}

table {
    color: var(--clr-gray);
    font-size: 20px;
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid var(--clr-gray);
  }