html,
body {
  height: 100%;
  margin: 0;
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url("images/gym-push.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
  color: black;

}

.container form .form-group {
  margin-bottom: 20px;
  width: 300px;
}

.container form label {
  font-size: 18px;
  font-weight: bold;
}

.container form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.container form .form-check-input {
  margin-right: 100px;
}

.container form .form-check-label {
  font-size: 16px;
}

.container form button {
  width: 150px;
  padding: 8px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}

.container form button:hover {
  background-color: #45a049;
}

.container form .form-text {
  font-size: 14px;
  color: #777;
}
