html,
body {
  height: 100%;
  margin: 0;
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url("images/register1.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  position: relative;
  height: 80%;
  width: 30%;
  background-color: white;
  top: 10%;
  padding-top: 10px;
  border-radius: 30px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.75);
}

.container form .form-group {
  width: 300px;
}

.container form label {
  font-size: 15px;
  font-weight: bold;
}

.container form input {
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-group button {
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 15px;    
  font-weight: bold;

}

.gym-address {
  display: none;
}
.small {
  font-size: 12px;
  font-weight: bold;
  color: red;
}
