h1{
    color:black;
    text-align: center;
    background-image:url("images/fitness.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
} 
section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 10px;
    gap:15px;
}
