header{
    background-image: url("images/workout_rope.png");
    background-size: cover;
    height: 45vh;  
    display: flex;
    justify-content: center;
    align-items: center;
}


h1{
    color: white;
} 

section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 10px;
    gap:15px;
}

body{
    background-color: #f4f4f9;
}
