<div class="container">
  <form action="/addequipment" method="POST">
    
    <div class="form-group">
      <label for="title">Name</label>
      <select class="form-control" id="titleInput" name="name" required>
        <option value="" selected disabled>Select a type</option>
        <% equipmentArray.forEach(equipment => { %>
          <option value="<%= equipment %>"><%= equipment %></option>
        <% }) %>
      </select>
    </div>


    <div class="form-group">
      <label for="title">Stock</label>
      
      <input type="text" class="form-control" id="titleInput" placeholder="Number" name="stock">
    </div>
    <button type="submit" class="btn btn-outline-secondary">Submit</button>
  </form>
  <a href="/equipment" class="btn btn-outline-secondary">Back</a>
</div>
