<header class="p-3 mb-2 bg-dark text-white">
  <h1><%= gym.gymName %></h1>
</header>
<div class="card border-dark mb-31" style="width: 18rem;">
  <div class="card-header"><b>Equipment</b></div>
  <div class="card-body">
    <p class="card-text">Manage equipment.</p>
    <a href="/equipment" class="btn btn-outline-secondary btn-lg">Manage</a>
  </div>